

<div>
    <div class="out">
        <div class= "in">
            <img src="assets/servicios/servicio-{{servicioId}}.png">
        </div>
    </div>   


    <div class="datos-contenedor">
            <div class="tituloPantalla">
                    CAPTURE LA REFERENCIA
                </div>
        <div class="datos">            
            <input (input)="onInputChange($event)" class="input" value={{value}} placeholder="coloque su referencía"  />           
        </div>
        <div class="simple-keyboard"></div>
    </div>
</div>

<app-botonera></app-botonera>